{% extends "icedreamapp/base.html" %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form method="post">
              {% csrf_token %}

              <!-- Render the username field -->
              <div class="form-outline mb-4">
                {% render_field form.username type="text" class="form-control" id="exampleInputUsername" placeholder="Username" %}
              </div>

              <!-- Render the other fields using widget tweaks -->
              <div class="form-outline mb-4">
                {% render_field form.first_name type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.last_name type="text" class="form-control" id="exampleInputLastname" placeholder="Last Name" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.phone type="text" class="form-control" id="exampleInputPhone" placeholder="Phone" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.email type="email" class="form-control" id="exampleInputEmail" placeholder="Email" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.city type="text" class="form-control" id="exampleInputCity" placeholder="City" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.house type="text" class="form-control" id="exampleInputHouse" placeholder="House" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.postal_code type="text" class="form-control" id="exampleInputPostalCode" placeholder="Postal Code" %}
              </div>

              <!-- Render the password fields -->
              <div class="form-outline mb-4">
                {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" %}
              </div>
              <div class="form-outline mb-4">
                {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" %}
              </div>

              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="{% static 'icedreamapp/img/sign.png' %}" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}
